# 中间件配置文件
node_modules
.env
frontend/test1/src/config.js
# Hardhat files
/cache
/artifacts
frontend/test1/node_modules/
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
